.modal-wrapper {
    display: none;
    background-color: #000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: .5;
}

.opacity-transition {
    transition: opacity .15s linear;
}